#!/bin/sh
# __  __ ____                __  _  _
# \ \/ /|  _ \  _ __  ___   / _|(_)| |  ___
#  \  / | |_) || '__|/ _ \ | |_ | || | / _ \
#  /  \ |  __/ | |  | (_) ||  _|| || ||  __/
# /_/\_\|_|    |_|   \___/ |_|  |_||_| \___|
#
# @what What to run upon graphical login.
# @author Daniel Csillag (aka. dccsillag)
#
# XXX: Most of this should be moved to a startupHook in XMonad.

. ~/.profile

# Setup compose key, caps->control/escape
xmodmap ~/.config/Xmodmap
# xcape -e "Control_L=Escape;Alt_L=Tab;Control_R=Shift_L|asterisk"
xcape -e "Control_L=Escape;Super_R=Tab;Control_R=Shift_L|asterisk"

# Enable push-to-talk
xbindkeys -f ~/.config/xbindkeys/config
# Remove key repeat for the push-to-talk key
xset r rate 300 50
xset -r 86

# Disable tap-to-click
# synclient MaxTapTime=0
# Disable edge scrolling
# xinput set-prop "SynPS/2 Synaptics TouchPad" "Synaptics Edge Scrolling" 0 0 0
# Set natural scrolling
# xinput set-prop "PS/2 Synaptics TouchPad" "Synaptics Scrolling Distance" -113 113
# Enable side scrolling
# synclient HorizTwoFingerScroll=1

# Set screensaver timeout to 1 hour
xset s 3600 3600
# setterm -blank 0 -powerdown 0

# Warn low battery
# batmon --warn-percentage 25 --panic-percentage 8 BAT0 &
battery-monitor &

# Set background image
.local/scripts/background-setter.sh &

# Launch redshift
# redshift &

# Enable gestures using touchscreen
# easystroke enable &

# Disable touch
# disable-touch

mpd
mpDris2 &
