* {
    all: unset; // Unsets everything so that we can style everything from scratch
}

.bar {
    color: #FFFFFF;
    padding: 5px;
}

.bubble {
    /* background-color: #222222; */
    padding: 3px 15px;
    border-radius: 15px;
}

.datetime {
    background-color: #333333;
    padding: 3px 20px;
    border-radius: 15px;
    font: 16px Lato Regular;
}

.metrics {
    background-color: #333333;
    padding: 3px 15px;
    border-radius: 15px;
}

.metric {
    margin: 2px;
}

.metric-label {
    padding: 2px;
    font: 16px Lato Regular;
}

.metric-value {
    background-color: #444444;
    border-radius: 9px;
}

.sensor {
  font: 16px Lato Regular;
  padding: 5px;
  margin: 2px 4px;
}
.indicator {
  font: 16px Lato Regular;
  padding: 5px;
  margin: 2px 4px;
}

.sensor-idle {
  /* color: #444444; */
  color: #CCCCCC;
}
.sensor-light {
  /* color: #ffe119; */
  /* color: #bfa813; */
  color: #eecf45;
}
.sensor-med {
  /* color: #f58231; */
  color: #f57523;
}
.sensor-heavy {
  color: #e6194B;
  /* color: #e60001; */
}

.indicator-off {
  color: #CCCCCC;
}
.indicator-on {
  color: #e6194B;
}

.caution-ok {
    border-radius: 6px;
    padding: 0px 8px;
}

.caution-danger {
    border-radius: 6px;
    padding: 0px 8px;
    background-color: #e6194B;
}

.workspace-bit {
    // background-color: #7F9BC7;
    background-color: #C8ACF6;
    color: #000000;
    font: 16px Lato Regular;
    padding: 3px 15px;
    border-radius: 15px;
}

.mic-off {
    color: #999999;
}

.mic-on {
    background-color: #e6194B;
    border-radius: 3px;
    padding: 2px;
}

.metricgraph-container {
    background-color: #333333;
    border-radius: 3px;
}

.metricgraph-label {
    margin: 5px;
    margin-bottom: 0px;
}

.metricgraph {
    margin: 5px;
    background-color: #444444;
    border-radius: 3px;
}

.heading {
    font: 30px Lato Regular;
    padding: 12px;
}

.close-button {
    font: 22px Lato Regular;
    padding: 20px;
}

// -------

.osd {
    background-color: #333333;
    padding: 16px;
    border-radius: 16px;
}

.osd-icon {
    font: 106px Lato Regular;
}

progress {
  min-height: 10px;
  border-radius: 5px;
  background-color: #469990;
}

trough {
  min-height: 10px;
  border-radius: 5px;
  background-color: #444444;
}
