configuration {
    terminal: "kitty --single-instance";

    scroll-method: 1;
    cycle: true;

    drun {
        display-name: "Launch";
    }
    ssh {
        display-name: "SSH to";
        ssh-command: "{terminal} -e kitten ssh {host}";
    }
}

//@theme "/home/daniel/.local/share/rofi/themes/spotlight-dark.rasi"
@theme "/home/daniel/.local/share/rofi/themes/csillag.rasi"
